body{
    display: flex;
    flex-direction: column;
    background-color: azure;
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;

}

#prototipo{
    border: 2px solid indigo;
    border-radius: 5px;
    padding: 5px;
}
.meter{
    height: 20px;
    position: relative;
    background-color: blue;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(red, green, blue, alpha);
}

.meter > span{
    display:block;
    height: 100%;

}